body {
  font-family: "Comic Sans MS", "Comic Sans";
  background-color:rgb(31, 29, 29);
}

.title {
  text-align: center;
  font-size: 166px;
  background-image:url(img/mexicanandybug.png);
  background-size: 100% auto;

}