html {
  height: 100%
}

body {
  height: 100%;
  font-family: brother-1816, "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(16, 16, 16);
  color: white;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: .45rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(182, 167, 167, 0.4);
  background: #181818;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.title {
  height: 20vh;
  text-align: center;
  font-size: 72pt;
  background-image: url(img/mexicanandybug.png);
  background-size: 100% auto;
  margin: 0;
  padding: 0;
}

.memberWindow {
  height: 35vh;
}

.newsWindow {
  height: 70vh;
}

.footerWindow {
  height: 10vh;
}

h2 {
  font-size: 48pt;
  text-align: center;
}

h3 {
  font-size: 32pt;
}

.imgnote {
  color: white;
  font: bold;
}

.height {
  height: 100%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}