html {
  overflow-y: overlay;
  height: 100%;
}

body {
  height: 100%;
  background-color: rgb(16, 16, 16);
  color: white;
  margin: 0;
  font-family: brother-1816, "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}